<table class="w3-table w3-bordered">
  <tr>
    <th colspan="2"><h1>All Owners</h1></th>
  </tr>

  <tr>
    <th colspan="2">
      <a class="w3-btn w3-blue w3-bar" href="/import">Import Google CSV</a>
    </th>
  </tr>

  <tr>
    <th colspan="2">
      <a class="w3-btn w3-green w3-bar" href="/owners/new">Create New Owner</a>
    </th>
  </tr>


<% Owner.all.each do |owner| %>
<tr>
  <td>
    <a href="/owners/<%= owner.id %>"><%= "#{owner.name}" %></a>
  </td>

  <td>
    <% if !owner.dogs.empty? %>
    <% owner.dogs.each do |dog| %>
      <a href="/dogs/<%= dog.id %>"><%= dog.name %></a>
    <% end %>
    <% end %>
  </td>
</tr>
<% end %>

</table>
