<table class="w3-table w3-bordered">
  <tr>
    <th colspan="2"><h1>All Owners</h1></th>
  </tr>

  <tr>
    <th>
      <a href="/owners/new">Create New Owner</a>
    </th>
    <th>
      <a href="/import">Import Google CSV</a>
    </th>
  </tr>

<% Owner.all.each do |owner| %>
<tr>
  <td>
    <a href="/owners/<%= owner.id %>"><%= "#{owner.name}" %></a>
  </td>

  <td>
    <% if !owner.dogs.empty? %>
      <a href="/dogs/<%= owner.dogs.first.id %>"><%= owner.dogs.first.name  %></a>
    <% end %>
  </td>
</tr>
<% end %>

</table>
