<table class="w3-table w3-bordered">
  <tr>
    <th colspan="2"><h1>All Dogs</h1></th>
  </tr>
  <tr>
    <th colspan="2">
      <a class="w3-btn w3-bar w3-green" href="/dogs/new">Create New Dog</a>
    </th>
  </tr>
  <% Dog.all.sort_by{ |e| e.name}.each do |dog| %>
  <tr>
    <td>
      <a href="/dogs/<%= dog.id %>"><%= "#{dog.name}" %></a>
    </td>

    <td><%= "#{dog.owner.address} #{dog.owner.apartment_number}" %></td>
  </tr>
  <% end %>
</table>
