<h1>New Dog</h1>

<form action="/dogs" method="post">
<table>
  <tr>
    <td><label for="dog[name]">Name:</label></td>
    <td><input type="text" name="dog[name]"></td>
  </tr>

  <tr>
    <td><label for="dog[breed]">Breed:</label></td>
    <td><input type="text" name="dog[breed]"></td>
  </tr>

  <tr>
    <td><label for="dog[birthday]">Birthday:</label></td>
    <td><input type="date" name="dog[birthday]"></td>
  </tr>

  <tr>
    <td><label for="dog[temperament]">Temperament:</label></td>
    <td><input type="text" name="dog[temperament]"></td>
  </tr>

  <tr>
    <td><label for="dog[notes]">Notes:</label></td>
    <td><input type="text" name="dog[notes]"></td>
  </tr>

  <tr>
    <td></td>
    <td><input type="submit"></td>
  </tr>
</table>
</form>
