@import url(https://fonts.googleapis.com/css?family=Open+Sans);
/*  */
/* * { */
/*   align-items: center; */
/*   align-content: center; */
/*   align-self: center; */
/* } */
/*  */
table {
  background-color: white;
}
/*  */
body {
  display: flex;
}

.container {
}

nav {
  padding: 5px;
  align-items: center;
  font-size: 1.2em;
}

nav a {
  text-decoration: none;
}

.w3-btn {
  border-radius: 10px;
}
