@import url(https://fonts.googleapis.com/css?family=Open+Sans);
/*  */
/* * { */
/*   align-items: center; */
/*   align-content: center; */
/*   align-self: center; */
/* } */
/*  */
/* table { */
/*   width: 80%; */
/*   background-color: white; */
/* } */
/*  */
body {
  background-color: #888888;
  display: flex;
}

.container {
}

nav {
  padding: 5px;
  align-items: center;
  font-size: 1.2em;
}

nav a {
  text-decoration: none;
}

header {
  padding-top: 15px;
}

.w3-btn {
  border-radius: 10px;
}
