@import url(https://fonts.googleapis.com/css?family=Open+Sans);
/*  */
/* * { */
/*   align-items: center; */
/*   align-content: center; */
/*   align-self: center; */
/* } */
/*  */
table {
  background-color: white;
}

nav {
  padding: 5px;
  align-items: center;
  font-size: 1.2em;
}

nav a {
  text-decoration: none;
}

.w3-btn {
  border-radius: 10px;
}

#app {
  display: block;
  max-width: 600px;
}

div.topnav {
  padding: 0px;
  position: fixed;
  overflow: hidden;
  z-index: 1;
}

div.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.main {
  position: relative;
  top: 48px;
}

@media only screen and (max-width: 520px) {
  .main {
    top: 100px;
  }
}
