<table class="w3-table w3-bordered">
  <tr>
    <th><h1>All Users</h1></th>
  </tr>
  <% User.all.each do |user| %>
  <tr>
    <td>
      <a href="/users/<%= user.id %>"><%= "#{user.first_name} #{user.last_name}" %></a>
    </td>
  </tr>
  <% end %>
</table>
