<h1><%= "#{@user.first_name} #{@user.last_name}" %></h1>
<label for="user_email">Email: </label>
<p id="user_email"><%= @user.email %></p>

<ul>
  <li><a href="/users/<%= @user.id %>/edit">Edit User</a></li>
  <li><a href="/users">All Users</a></li>
</ul>
