<h1><%= "#{@user.first_name} #{@user.last_name}" %></h1>
<label for="user_email">Email: </label>
<p id="user_email"><%= @user.email %></p>

<nav>
  <a href="/users/<%= @user.id %>/edit">Edit User</a> | 
  <a href="/users">All Users</a>
</nav>
