

<table class="w3-table">
  <tr>
    <th colspan="2"><h1>All Walks</h1></th>
  </tr>
<tr>
  <th colspan="2">
    <a class="w3-btn w3-green w3-bar" href="/walks/new">Create New Walk</a>
  </th>
</tr>

  <tr>
    <th>Dog</th>
    <th>Pick-Up Window</th>
  </tr>

  <% Walk.all.each do |walk| %>
  <tr>
    <td><%= walk.dog.name %></td>
    <td>
      <a href="/walks/<%= walk.id %>"><%= "#{walk.window_start.strftime('%H:%M')} - #{walk.window_end.strftime('%H:%M')}" %></a>
    </td>
  </tr>
  <% end %>


  <tr>

  </tr>

</table>
