<table class="w3-table w3-bordered">

  <tr>
    <th colspan="2">
      <h1>Welcome!</h1>
    </th>
  </tr>

  <tr>
    <td colspan="2">
      <a href="/users/new">Sign Up</a>
    </td>
  </tr>

  <tr>
    <td colspan="2">
      <a href="/signin">Sign In</a>
    </td>
  </tr>

</table>
