<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title>Oh My Dog! Pet Care</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>
  <body>
    <div class="w3-mobile" id="app">

      <div  class="w3-bar w3-black topnav">
        <% if logged_in? %>
        <nav>
          <a class="w3-bar-item" href="/users">Users</a>
          <a class="w3-bar-item" href="/owners">Owners</a>
          <a class="w3-bar-item" href="/dogs">Dogs</a>
          <a class="w3-bar-item" href="/walks">Walks</a>
          <a class="w3-bar-item" href="/logout">Log Out</a>
        </nav>
        <% end %>
      </div>

      <div class="main w3-mobile">
        <% if flash.has?(:message) %>
        <span class="w3-bar w3-red">
          <%= flash[:message] %>
        </span>
        <% end %>

        <%= yield %>

        <% if logged_in? %>
        <div class="w3-bar w3-center w3-light-grey">
          <span class="w3-small"><em><%= "Logged in as #{current_user.name} (#{current_user.email})" %></em></span>
        </div>
        <% end %>

      </div>
    </div>
  </body>
</html>
