<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title>Oh My Dog! Pet Care</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>
  <body>

<div class="w3-mobile">

  <% if flash.has?(:message) %>
    <div colspan="2" class="w3-panel w3-red">
      <%= flash[:message] %>
    </div>
  <% end %>

  <header>
    <% if logged_in? %>
    <nav class="w3-bar w3-black">
      <a class="w3-bar-item" href="/users">Users</a>
      <a class="w3-bar-item" href="/owners">Owners</a>
      <a class="w3-bar-item" href="/dogs">Dogs</a>
      <a class="w3-bar-item" href="/walks">Walks</a>
      <a class="w3-bar-item" href="/logout">Log Out</a>
    </nav>
    <% end %>
  </header>

  <%= yield %>
</div>

  </body>
</html>
