<header>
  <nav>
    <a href="/users">Users</a> |
    <a href="/owners">Owners</a> |
    <a href="/dogs">Dogs</a> |
    <a href="/walks">Walks</a>
  </nav>
</header>

<div class="container">

  <%= yield %>

</div>

<footer>
</footer>
